*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common shared styles */
span {
    color: rgb(219, 42, 11);
}

/* Navigation bar related styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(176, 176, 176);
}

.menu-item ul {
    display: flex;
    list-style-type: none;
}

.menu-item ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.8em;
    font-weight: bold;
}

.menu-item ul li {
    padding: 1em;
}
/* Navigation ends */

/* Banner related styles */
.banner-section {
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.banner-content {
    text-align: center;
    padding: 5em;
    color: #fff;
}

.banner-title {
    font-size: 5em;
    padding: 0em 1em;
    margin-bottom: 0.2em;
}

.banner-heading P {
    font-size: 1.4em;
    padding: 0em 8em;
    margin-bottom: 1em;
}

/* Button related styles */
.banner-button button {
    margin-right: 1em;
    padding: 1em;
    border: none;
}

.btn-orange {
    background-color: rgb(219, 42, 11);
    color: #fff;
}
/* banner ends */

/* service related styles */
.service-container {
    background-color: #000;
    color: #fff;
    padding: 0em 1.5em; 
    display: flex;
}

.service-content > button {
    padding: 1.2em 3em; 
    /* margin: 4em 1em 2em 1em; */
    margin: 4em 0 0.7em 0;
    border-radius: 35px;
}

.service-content  p {
    width: 40%;
}

.service-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: rgb(198, 196, 196);
}

.service-content p, li {
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(198, 196, 196);
    /* margin-bottom: 1em; */
}

.service-content p {
    margin-bottom: 1em;
} 

.founder-info-container {
    display: flex;
    align-items: center;
}

.founder-info-container > button {
    padding: 1em;
    border-radius: 35px;
}

.founder {
    display: flex;
    align-items: center;
    margin-top: 1em;
    /* justify-content: center; */
}

.founder > img {
    width: 22%;
    border-radius: 50%;
    margin-right: 0.4em;
}

.founder-info > h4{
    font-size: 0.6em;
}

.founder-info > p {
    font-size: 0.5em;
}

.service-graphs {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.service-graphs img {
    width: 80%;
}

.service-box {
    color: #000;
    padding: 3em;
    /* margin: 2em; */
    text-align: center;
    border: 2px solid #000;
    width: 100%;
    font-size: 1.2em;
}

.service-box h3 {
    font-size: 1.2em;
}

.graph-col {
    /* padding: 3em; */
}